body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

/* This styles the scrollbar track */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

/* This styles the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #550C2B; /* Your chosen color for the scrollbar */
  border-radius: 10px; /* Rounded corners */
}

/* This is for Firefox */
* {
  scrollbar-color: #550C2B black; /* thumb and track color */
}


@tailwind base;
@tailwind components;
@tailwind utilities;